<MudCarousel Class="mud-width-full mt-6" Style="height:400px;" ShowArrows="true" ShowBullets="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="@Transition.Slide" Color="@Color.Transparent">
        <div class="d-flex" style="height:100%">
            <MudImage Src="images/barrels.jpg" Alt="Wine Barrels" Elevation="25" ObjectPosition="ObjectPosition.Center" ObjectFit="ObjectFit.Cover"/>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="@Transition.Slide" Color="@Color.Transparent">
        <div class="d-flex" style="height:100%">
            <MudImage Src="images/vineyard.jpg" Alt="Vineyard" Elevation="25" ObjectPosition="ObjectPosition.Center" ObjectFit="ObjectFit.Cover"/>
        </div>
    </MudCarouselItem>
</MudCarousel>

@code{ 

}