@page "/about"

<PageTitle>Jazz June Wines About</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">About</MudText>
<MudGrid>
    <MudItem xs="12" sm="6">
        <MudText Typo="Typo.body1" Class="py-8">
            Jazz June Wines is a small batch production wine label run by husband and wife winemaking team Tom and Melissa Houghton. 
            Their love for wine started with holidays in the Margaret River wine region. 
            A discovery of the complexity and beauty of wine led them on a journey that became a lifestyle.
        </MudText>
        <MudText Typo="Typo.body1">
            Tom fell in love with wine and turned it into his career, graduating from La Trobe University with a degree in Viticulture and Winemaking in 2021. 
            He has done vintages all around Australia and in the United Kingdom. 
            Melissa is a Software Engineer by day but enjoys learning about all the aspects of winemaking on the side and assisting Tom wherever possible.
        </MudText>
    </MudItem>
    <MudItem xs="12" sm="6">
        <div class="d-flex justify-center">
            <MudImage Src="images/tom-and-mel.JPG" Alt="Tom and Melissa" Width="500" Class="pb-8" Fluid="true" />
        </div>
    </MudItem>
</MudGrid>

@code {

}
