@page "/"

<PageTitle>Jazz June Wines</PageTitle>
<div class="d-flex justify-center">
    <MudImage Src="images/brand/JJ_Horizontal_Black.svg" Alt="Jazz June Wines" Width="600" Class="pb-8" Fluid="true"/>
</div>
<MudText Typo="Typo.subtitle1" Align="Align.Center">Jazz June Wines. Small batch. Cool climate. Yarra Valley Wine.</MudText>
<Carousel />
